.nav-menu {
  align-items: center;
  background-color: $orange-color;
  bottom: 0;
  display: flex;
  justify-content: center;
  min-height: 3rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .nav-menu-link {
    color: $navy-color;
    font-size: 2em;
    font-weight: bold;
    margin: 0 3rem;
    text-decoration: none;
  }

  .scroll-up-arrow {
    position: relative;
  }

  .scroll-up-wrapper {
    min-width: 2rem;
  }
}
  