.friend-goal {
  // border: 2px solid $teal-color;
  // border-radius: 50px;
  width: 30%;

  .goal-icon {
    font-size: 6em;
  }

  .goal-text {
    font-size: 5em;
    margin: 0;
  }

  .goal-arrow {
    font-size: 4em;
  }
}
