.friend-goal {
  display: flex;
  justify-content: space-between;
  padding: 15px 4% 15px 3.5%;
  align-items: center;
  border-top: 4px solid $teal-color;

  .target-goal-text-container {
    min-width: 120px;
    margin: 0;
  }

  .goal-icon {
    font-size: 4em;
  }

  .current-goal-container {
    display: flex;
    border-color: $teal-color;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 2%;
    border: 2px $teal-color solid;
    width: 120px;
    height: 100px;
    overflow: hidden;
    background: $teal-color;

    .current-goal-value {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $navy-color;
      border-right: 2px $teal-color solid;
    }

    .current-goal-stepper {
      display: flex;
      width: 60%;
      flex-direction: column;

      :last-child {
        border-bottom: 0;
      }
    }
  }
  
  .goal-text {
    font-size: 4em;
    margin: 0;
  }

  .goal-arrow {
    color: $navy-color;
    cursor: pointer;
    font-size: 3em;
    line-height: 100%;
    width: 100%;
    border-radius: 15px;
    border-bottom: 2px $teal-color solid;
  }

  .down-arrow-inactive {
    cursor: default;
    background-color: #06908F;
  }
}

.last-goal-element {
  border-bottom: 4px solid $teal-color;
  margin-bottom: 10px;
}
