.modal {
  background: $modal-overlay-grey;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .modal-main {
    background: $white-color;
    border: solid 2px $navy-color;
    border-radius: 20px;
    color: $orange-color;
    height: auto;
    left: 50%;
    padding: 1rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    .modal-header {
      border-radius: 20px;
      display: flex;
      font-size: 2rem;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 95%;
    }
  }
}


.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .modal-form-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
    text-align: left;

    .modal-form-cell-label {
      display: inline-block;
      font-size: 16pt;
      font-weight: $font-weight-bold;
    }
  }

  .modal-select {
    border: $navy-color 2px solid;
    color: $navy-color;
    font-size: 1rem;
    margin: 0;
    max-width: 100px;
    min-height: 2rem;
    width: 60%;
  }
}



.modal-btn {
  background-color: $navy-color;
  color: $teal-color;
  margin-top: 2rem;
}

.modal-close-btn {
  background: $white-color;
  border: 0;
}
