.friend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.home-add-to-friend-wrapper {
  justify-content: center;

  .home-add-to-friend {
    margin-top: 2rem;
  }
}