
.bio-space {
  align-items: center;
  color: $blue-color;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-evenly;
  margin: 0 auto;
  min-height: 150px;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  .friend-info {
    height: 125px;
    width: 200px;
  }


  .friend-icon {
    font-size: 3.5em;
    max-height: 125px;
    max-width: 125px;
    padding: 0 10px;

    .contact-icon {
      vertical-align: top;
    }
  }
}

.friend-title,
.goal-title,
.friend-text {
  margin: 0;
}

.goal-space {
  color: $blue-color;

  .goal-title {
    font-size: 2.5rem;
    letter-spacing: 10px;
    padding: 20px;
  }
}

.friend-goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .friend-goal {
    background-color: $lime-color;
  }
}
