.bio-space {
  align-items: center;
  background-color: $orange-color;
  color: $navy-color;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-evenly;
  margin: 0 auto;
  min-height: 150px;
  text-align: center;
  
  .friend-info {
    height: 125px;
    width: 60%;
  }

  .icon-container {
    font-size: 1rem;
    width: 40%;


    .icon-outer-circle {
      border-color: $navy-color;
      color: $navy-color;
    }

    .inner-icon-container {
      background-color: $navy-color;
      color: $orange-color;
    }

    .details-max-score {
      border: none;
      filter: drop-shadow(0 0 0.5rem #00fbfb);
      animation:
        scale-up-icons 1.5s,
        detailsTealPulse 2.5s 1.5s infinite;
    }
  }
}

.friend-name,
.friend-description,
.goal-title {
  margin: 0;
}

.friend-name {
  font-size: 2.5rem;
  word-wrap: break-word;
}

.friend-description {
  font-size: 1.5rem;
  word-wrap: break-word;
}

.goal-space {
  .goal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5% 2% 4.5%;

    .goal-title {
      font-size: 2rem;
      width: 110px;
    }

    :last-child {
      margin-left: 2%;
    }
  }

  .goal-footer {
    margin: 0.5rem;
  }
}

.friend-goals {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

// @media only screen and (min-width : 500px) {

// }

