html {
  box-sizing: border-box;
}

html,
body {
  color: $teal-color;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  height: 100%;
  text-align: center;
}

body {
  background-color: $navy-color;
  font-family: Quicksand;
  margin: 0;
  min-height: 100%;
}

.app-container {
  font-size: 12pt;
}

.header {
  color:  $teal-color;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  a {
    color: $navy-color;
    font-size: 2em;
    text-decoration: none;
  }

  .header-text {
    color: $teal-color;
    margin: 10px 0;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5rem;
  width: 100%;
}

.icon-container {
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 1rem auto;
  width: 180px;

  .icon-outer-circle {
    align-items: center;
    background-color: $white-alpha-color;
    border: 2px solid $teal-color;
    border-radius: 50%;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 120px;
  }

  .inner-icon-container {
    align-items: center;
    background: $teal-color;
    border-radius: 50%;
    color: $navy-color;
    display: flex;
    justify-content: center;
  }
}


.zero {
  height: 2%;
  width: 2%;

  .inner-contact-icon {
    display: none;
  }
}

.twenty-five {
  font-size: 1em;
  height: 25%;
  width: 25%;
}

.fifty {
  font-size: 2em;
  height: 50%;
  width: 50%;
}

.seventy-five {
  font-size: 2.5em;
  height: 75%;
  width: 75%;
}

.one-hundred {
  font-size: 3em;
  height: 100%;
  width: 100%;
}

// @media only screen and (min-width : 500px) {

// }
