html {
  box-sizing: border-box;
}

html,
body {
  color: $teal-color;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  height: 100%;
  text-align: center;
}

body {
  background-color: $navy-color;
  font-family: 'Quicksand';
  margin: 0;
  min-height: 100%;
}

.app-container {
  font-size: 12pt;
}

.content-wrapper {
  margin-bottom: 4rem;
}

.btn {
  border: solid 1px $teal-color;
  border-radius: 20px;
  font-size: 1.5rem;
  height: 50px;
  margin: 0.3rem;
  min-width: 46%;
  
  font-weight: bold;
  font-family: 'Quicksand';

  .btn-icon {
    padding-right: 1rem;
  }
}

.link-no-style {
  text-decoration: none;
  color: $navy-color;
}

.btn-primary {
  background-color: $teal-color;
  color: $navy-color;
  font-weight: bold;
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.add-success-btn {
  margin-bottom: 0.5rem
}

.btn-secondary {
  background-color: $navy-color;
  color: $teal-color;
  font-weight: bold;
  border: solid 2px #00ffb1;
}

.icon-container {
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 1rem 0;
  width: 160px;

  .icon-outer-circle {
    align-items: center;
    background-color: $white-alpha-color;
    border: 2px solid $teal-color;
    border-radius: 50%;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 120px;
  }

  .inner-icon-container {
    align-items: center;
    animation: scale-up-icons 1.5s;
    background: $teal-color;
    border-radius: 50%;
    color: $navy-color;
    display: flex;
    justify-content: center;
  }
}

.tiny-friend-icon {
  align-items: center;
  animation: scale-up-icons 1.5s;
  background: $teal-color;
  border-radius: 50%;
  color: $navy-color;
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 1rem 0;
  width: 180px;
}

.waving-image {
  width: 6rem;
  animation-name: waveAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.waving-small-bacon {
  font-size: 3rem;
  margin: 0 1.5rem;
  animation-name: waveAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.waving-bacon {
  font-size: 5rem;
  animation-name: waveAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.loading-page {
  margin: 3rem 0 2rem;
}

.loading-text {
  font-size: 1.5rem;
}

.login-link {
  margin-top: 1rem;
  color: $teal-color;

  a {
    color: $teal-color;
  }
}
