$fa-font-path: '~font-awesome/fonts';

$teal-color: #00ffb1;
$orange-color: #d66940;
$navy-color: #123456;
$white-color: #fff;
$lt-teal-color: #00fbfb;
$light-khaki-color: #e6e1c5;
$blue-color: #3c91e6;
$lime-color: #9fd356;
$white-alpha-color: rgba(255, 255, 255, 0.2);
