.friend-wrapper {
  border: 1px solid $teal-color;
  border-radius: 15px;
  color: $teal-color;
  display: flex;
  flex-wrap: wrap;
  float: left;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  margin: 2rem 0.5rem 0;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;

  .friend-name {
    font-size: 2.5rem;
    margin: 0 auto;
    text-decoration: none;
  }
}
