.friend-wrapper {
  width: 160px;
  height: 190px;
  border: 1px solid $teal-color;
  border-radius: 15px;
  color: $teal-color;
  display: flex;
  flex-wrap: wrap;
  float: left;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  margin: 2rem 0.5rem 0;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  
  .friend-item { 
    width: 100%;
  }

  .friend-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    margin: 0 5px;
    text-decoration: none;
  }

  .max-score {
    border: none;
    filter: drop-shadow(0 0 0.5rem #00fbfb);
    animation:
      scale-up-icons 1.5s,
      tealPulse 2.5s 1.5s infinite;
  }
}
